name: CI

on:
  push:
    branches:
      - master
    tags:
      - 'v*'  # 例如 v1.0.0
  pull_request:
    branches:
      - master

jobs:
  build_iOSApp:
    name: Build Flutter App (iOS)
    # needs: [flutter_test]
    # runs-on: macos-latest
    # steps:
    #   - uses: actions/checkout@v3
    #   - uses: actions/setup-java@v3
    #     with:
    #       distribution: 'temurin'
    #       java-version: '17'
    #       cache: 'gradle'
    #   - uses: subosito/flutter-action@v2
    #     with:
    #       #flutter-version-file: pubspec.yaml
    #       # flutter-version: '3.83.3'
    #       # dart-verion: '3.10.1'
    #       cache: true
    #       channel: 'stable'
    #   - run: flutter pub get
    #   # - run: flutter clean
    #   - run: |
    #       flutter build ios --no-codesign
    #       cd build/ios/iphoneos
    #       mkdir Payload
    #       cd Payload
    #       ln -s ../Runner.app
    #       cd ..
    #       zip -r app.ipa Payload
  
    runs-on: macos-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true
      - run: flutter pub get
      # - run: flutter test
      - run: flutter build ios --release --no-codesign
  main:
    name: Build Flutter App (linux)
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true
      - run: |
          sudo apt-get update -y
          sudo apt-get install -y ninja-build libgtk-3-dev
      
      - name: Build Linux App
        run: flutter build linux --release
      
      - name: List build outputs
        run: |
          echo "Build outputs:"
          ls -lR build/

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: "hello_flutter_action_linux_x64"
          path: build/linux/x64/release/bundle/**/*

      #- name: Create Release and Upload Windows
      #  if: startsWith(github.ref, 'refs/tags/')
      #  uses: softprops/action-gh-release@v2
      #  with:
      #    name: Release ${{ github.ref_name }}
      #    draft: false
      #    prerelease: false
      #    generate_release_notes: true
      #    files: |
      #      build/linux/x64/release/bundle/hello_flutter_action/**/*
      #  env:
      #    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      
  build_macos:
    name: Build Flutter App (macOS)
    runs-on: macos-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true
      - run: flutter build macos --release
  
  build_windows:
    name: Build Flutter App (Windows)
    runs-on: windows-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true
      - name: Build Windows App
        run: flutter build windows --release

      - name: List build outputs
        run: |
          echo "Build outputs:"
          ls build/
          ls build/windows/
          ls build/windows/x64/
          ls build/windows/x64/runner/
          ls build/windows/x64/runner/Release/
          

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: "hello_flutter_action_windows_x64"
          path: build/windows/x64/runner/Release/**/*      
      
      # - name: Create Release and Upload Windows
      #   if: startsWith(github.ref, 'refs/tags/')
      #   uses: softprops/action-gh-release@v2
      #   with:
      #     name: Release ${{ github.ref_name }}
      #     draft: false
      #     prerelease: false
      #     generate_release_notes: true
      #     files: |
      #       build/windows/x64/runner/Release/**/*
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      
  build_androidApk:
    name: Build Flutter App (Android)
    # needs: [flutter_test]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'gradle'
      
      - uses: subosito/flutter-action@v2
        with:
          cache: true
          channel: 'stable'
      - run: flutter pub get
      # - run: flutter clean
      - run: flutter build apk --release
      
      - name: List build outputs
        run: |
          echo "Build outputs:"
          ls -la build/app/outputs/
          ls -la build/app/outputs/flutter-apk/
      
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: "hello_flutter_action_android_apk"
          path: build/app/outputs/flutter-apk/app-release.apk
      
      # - name: Create Release and Upload APK
      #   if: startsWith(github.ref, 'refs/tags/')
      #   uses: softprops/action-gh-release@v2
      #   with:
      #     name: Release ${{ github.ref_name }}
      #     draft: false
      #     prerelease: false
      #     generate_release_notes: true
      #     files: |
      #       build/app/outputs/flutter-apk/app-release.apk
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
